.blog-header{
    position: fixed;
    font-size: 12px;
    left: 0;
    top: 100px;
    margin-left: 200px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.blog-header:hover {
    color: #96515f; 
}

/* Add hover effect to individual links */
.search-icon {
    width: 24px;
    height: 24px;
    margin-left: 30px;
    cursor: pointer;
}